<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSManagedObjectModel_CurrentVersionName</key>
	<string>ShoppingBag_DataModel_1.45</string>
	<key>NSManagedObjectModel_VersionHashes</key>
	<dict>
		<key>ShoppingBag_DataModel</key>
		<dict>
			<key>Address</key>
			<data>
			E/VC3h04O4d4fQiJJDNkjLvKxK9AIAD3I6J/cjF/aR4=
			</data>
			<key>Brand</key>
			<data>
			O3kUtNngHpE5RQs1WeVM+jwrhAHhuSKTAHA5v2LQ5QM=
			</data>
			<key>Customer</key>
			<data>
			YpZ9t4yVCvJozwljT5YGdplr6YXI3uHNXGkmM4pIW+E=
			</data>
			<key>FKGroup</key>
			<data>
			di2Qnl0hVxbpkOqw26CyQjeqlXS8EsCLtttE4vSmMdk=
			</data>
			<key>FKSidebarObject</key>
			<data>
			/7UlnKoRzSlFZaO11t4J5J+qFRatY3nbmv0QZAcE474=
			</data>
			<key>FKSmartGroup</key>
			<data>
			9jJtOEFTTIgyVZ4rlCPO/P5rG1AToYPcVtRnPo3etW4=
			</data>
			<key>Inventory</key>
			<data>
			Uo922z0QWicmjIQICObcKV74lbljz4iquQ/c1Yibgh8=
			</data>
			<key>Invoice</key>
			<data>
			uDIxeF3cauEFsuKpvOy/hfFxMPMrhIR3ww8Sqkhr55k=
			</data>
			<key>PaymentMethod</key>
			<data>
			hx+1FFSBpZHOxHi0undvReyl5Z6ZkG8HD0cfiY+gZ0o=
			</data>
			<key>Product</key>
			<data>
			SxpbOemmw85cHS+hTh/08QJJWE8EyO+bSvW7Z0HZdSs=
			</data>
			<key>ProductCategory</key>
			<data>
			wKD3bQutO1+sc5pskBKu1LeYozm6GVclJ60H5sF+/TM=
			</data>
			<key>ProductFamily</key>
			<data>
			QhN3oHJ80M/RF0Nxty2pvUVWsOAsQwWJF1yIOYfBpDg=
			</data>
			<key>Provider</key>
			<data>
			uvv6YAbcZICFcuMRdOnjKSPeN4krt8F/6o1FslpF8Z0=
			</data>
			<key>ProviderProduct</key>
			<data>
			xK9K8Nx3lweqnJMl6r2cvEVDfBT6YzLgeVv2yf9nm0U=
			</data>
			<key>Sale</key>
			<data>
			NLfPhCL9quNaGeF1QRmRzzCd66MpAfihA8ClJF8gxd8=
			</data>
			<key>SaleLine</key>
			<data>
			r3E7RXxnuTUn7DvpEpFi8hK7CFu8fXS6sOLZ09FS0mQ=
			</data>
			<key>StockAlert</key>
			<data>
			Qgc+dd5VNZ15t3pIzxwu+GMkNDod/UvfjlggCt/zbkY=
			</data>
			<key>StockMovement</key>
			<data>
			Y25svpJgxhGNyr5beKw4+AR8M8otjA4i9sjHvRpV/aY=
			</data>
			<key>StockSnapshot</key>
			<data>
			QQ0gly2223XlrfQ2tkOf8L5oobDHfaD0nZtsFReFgFg=
			</data>
			<key>StockSnapshotLine</key>
			<data>
			B1+pUod5OZ+n6dtHUwqxdrGpXb6SCYo7gx7x8iNrW40=
			</data>
			<key>SupplyOrder</key>
			<data>
			MvLOkVLHwmxHSJnAN0TS85IRokcSifsNapE9eAIuaAU=
			</data>
			<key>SupplyOrderLine</key>
			<data>
			5G8PAIRKCFo/bTnZabUbNo9iGEigo8aj6GbImZplUFY=
			</data>
			<key>TaxRate</key>
			<data>
			udRUeznDpXLp+nZM+Xl4pjPp6LRdFs6VzrAopaK0+j8=
			</data>
		</dict>
		<key>ShoppingBag_DataModel_1.411</key>
		<dict>
			<key>Address</key>
			<data>
			E/VC3h04O4d4fQiJJDNkjLvKxK9AIAD3I6J/cjF/aR4=
			</data>
			<key>Brand</key>
			<data>
			O3kUtNngHpE5RQs1WeVM+jwrhAHhuSKTAHA5v2LQ5QM=
			</data>
			<key>Customer</key>
			<data>
			YpZ9t4yVCvJozwljT5YGdplr6YXI3uHNXGkmM4pIW+E=
			</data>
			<key>FKGroup</key>
			<data>
			di2Qnl0hVxbpkOqw26CyQjeqlXS8EsCLtttE4vSmMdk=
			</data>
			<key>FKSidebarObject</key>
			<data>
			/7UlnKoRzSlFZaO11t4J5J+qFRatY3nbmv0QZAcE474=
			</data>
			<key>FKSmartGroup</key>
			<data>
			9jJtOEFTTIgyVZ4rlCPO/P5rG1AToYPcVtRnPo3etW4=
			</data>
			<key>Inventory</key>
			<data>
			Uo922z0QWicmjIQICObcKV74lbljz4iquQ/c1Yibgh8=
			</data>
			<key>Invoice</key>
			<data>
			uDIxeF3cauEFsuKpvOy/hfFxMPMrhIR3ww8Sqkhr55k=
			</data>
			<key>PaymentMethod</key>
			<data>
			hx+1FFSBpZHOxHi0undvReyl5Z6ZkG8HD0cfiY+gZ0o=
			</data>
			<key>Product</key>
			<data>
			qooh7Mg0VP+EuW+LUTy+d8IS6IRY+jJnlROo2PaXtnE=
			</data>
			<key>ProductCategory</key>
			<data>
			wKD3bQutO1+sc5pskBKu1LeYozm6GVclJ60H5sF+/TM=
			</data>
			<key>ProductFamily</key>
			<data>
			QhN3oHJ80M/RF0Nxty2pvUVWsOAsQwWJF1yIOYfBpDg=
			</data>
			<key>Provider</key>
			<data>
			uvv6YAbcZICFcuMRdOnjKSPeN4krt8F/6o1FslpF8Z0=
			</data>
			<key>ProviderProduct</key>
			<data>
			xK9K8Nx3lweqnJMl6r2cvEVDfBT6YzLgeVv2yf9nm0U=
			</data>
			<key>Sale</key>
			<data>
			NLfPhCL9quNaGeF1QRmRzzCd66MpAfihA8ClJF8gxd8=
			</data>
			<key>SaleLine</key>
			<data>
			wiFlyD905wuNtNUzqC4E+23wdBWm2aVgzit3cevJ9WU=
			</data>
			<key>StockAlert</key>
			<data>
			Qgc+dd5VNZ15t3pIzxwu+GMkNDod/UvfjlggCt/zbkY=
			</data>
			<key>StockMovement</key>
			<data>
			0v3d1XKHJbEOfcJXCN98noqrj0k2yheueRcZpWvBxfw=
			</data>
			<key>StockSnapshot</key>
			<data>
			QQ0gly2223XlrfQ2tkOf8L5oobDHfaD0nZtsFReFgFg=
			</data>
			<key>StockSnapshotLine</key>
			<data>
			B1+pUod5OZ+n6dtHUwqxdrGpXb6SCYo7gx7x8iNrW40=
			</data>
			<key>SupplyOrder</key>
			<data>
			MvLOkVLHwmxHSJnAN0TS85IRokcSifsNapE9eAIuaAU=
			</data>
			<key>SupplyOrderLine</key>
			<data>
			5G8PAIRKCFo/bTnZabUbNo9iGEigo8aj6GbImZplUFY=
			</data>
			<key>TaxRate</key>
			<data>
			udRUeznDpXLp+nZM+Xl4pjPp6LRdFs6VzrAopaK0+j8=
			</data>
		</dict>
		<key>ShoppingBag_DataModel_1.45</key>
		<dict>
			<key>Address</key>
			<data>
			E/VC3h04O4d4fQiJJDNkjLvKxK9AIAD3I6J/cjF/aR4=
			</data>
			<key>Brand</key>
			<data>
			O3kUtNngHpE5RQs1WeVM+jwrhAHhuSKTAHA5v2LQ5QM=
			</data>
			<key>Customer</key>
			<data>
			YpZ9t4yVCvJozwljT5YGdplr6YXI3uHNXGkmM4pIW+E=
			</data>
			<key>FKGroup</key>
			<data>
			di2Qnl0hVxbpkOqw26CyQjeqlXS8EsCLtttE4vSmMdk=
			</data>
			<key>FKSidebarObject</key>
			<data>
			/7UlnKoRzSlFZaO11t4J5J+qFRatY3nbmv0QZAcE474=
			</data>
			<key>FKSmartGroup</key>
			<data>
			9jJtOEFTTIgyVZ4rlCPO/P5rG1AToYPcVtRnPo3etW4=
			</data>
			<key>Inventory</key>
			<data>
			Uo922z0QWicmjIQICObcKV74lbljz4iquQ/c1Yibgh8=
			</data>
			<key>Invoice</key>
			<data>
			uDIxeF3cauEFsuKpvOy/hfFxMPMrhIR3ww8Sqkhr55k=
			</data>
			<key>PaymentMethod</key>
			<data>
			hx+1FFSBpZHOxHi0undvReyl5Z6ZkG8HD0cfiY+gZ0o=
			</data>
			<key>Product</key>
			<data>
			nKpPfgmIlex+oTzzUaySgIsK9zXNFaEv/P64uasFpoM=
			</data>
			<key>ProductCategory</key>
			<data>
			wKD3bQutO1+sc5pskBKu1LeYozm6GVclJ60H5sF+/TM=
			</data>
			<key>ProductFamily</key>
			<data>
			QhN3oHJ80M/RF0Nxty2pvUVWsOAsQwWJF1yIOYfBpDg=
			</data>
			<key>Provider</key>
			<data>
			uvv6YAbcZICFcuMRdOnjKSPeN4krt8F/6o1FslpF8Z0=
			</data>
			<key>ProviderProduct</key>
			<data>
			xK9K8Nx3lweqnJMl6r2cvEVDfBT6YzLgeVv2yf9nm0U=
			</data>
			<key>Sale</key>
			<data>
			NLfPhCL9quNaGeF1QRmRzzCd66MpAfihA8ClJF8gxd8=
			</data>
			<key>SaleLine</key>
			<data>
			r3E7RXxnuTUn7DvpEpFi8hK7CFu8fXS6sOLZ09FS0mQ=
			</data>
			<key>StockAlert</key>
			<data>
			Qgc+dd5VNZ15t3pIzxwu+GMkNDod/UvfjlggCt/zbkY=
			</data>
			<key>StockMovement</key>
			<data>
			Y25svpJgxhGNyr5beKw4+AR8M8otjA4i9sjHvRpV/aY=
			</data>
			<key>StockSnapshot</key>
			<data>
			QQ0gly2223XlrfQ2tkOf8L5oobDHfaD0nZtsFReFgFg=
			</data>
			<key>StockSnapshotLine</key>
			<data>
			B1+pUod5OZ+n6dtHUwqxdrGpXb6SCYo7gx7x8iNrW40=
			</data>
			<key>SupplyOrder</key>
			<data>
			MvLOkVLHwmxHSJnAN0TS85IRokcSifsNapE9eAIuaAU=
			</data>
			<key>SupplyOrderLine</key>
			<data>
			5G8PAIRKCFo/bTnZabUbNo9iGEigo8aj6GbImZplUFY=
			</data>
			<key>TaxRate</key>
			<data>
			udRUeznDpXLp+nZM+Xl4pjPp6LRdFs6VzrAopaK0+j8=
			</data>
		</dict>
	</dict>
</dict>
</plist>
